.privacyWrap {
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 5rem;
  max-width: 850px;
}
.ttl {
  text-align: center;
  font-size: 56px;
  margin-bottom: 4rem;
}
.privacyWrap i {
  margin-bottom: 1rem;
  display: block;
  font-size: 18px;
  line-height: 1.8;
  color: var(--secondaryText);
}
.privacyWrap p {
  font-size: 20px;
  line-height: 2;
  letter-spacing: -0.3px;
  margin-bottom: 4rem;
}
.privacyWrap a {
  color: var(--blue);
  text-decoration: none;
}
.privacyWrap ul {
  padding-left: 2rem;
  font-size: 20px;
  line-height: 2;
  letter-spacing: -0.3px;
  margin-top: 1rem;
}
.privacyWrap li {
  margin-bottom: 2.5rem;
}
.privacyWrap h2 {
  font-size: 36px;
  margin-bottom: 2rem;
}
.imp {
  display: block;
  background: #101b1d;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .privacyWrap {
    padding-top: 5rem;
  }
  .ttl {
    font-size: 46px;
    margin-bottom: 3rem;
  }
  .privacyWrap i {
    font-size: 14px;
  }
  .privacyWrap p,
  .privacyWrap ul {
    font-size: 16px;
  }
  .privacyWrap p {
    margin-bottom: 3rem;
  }
  .privacyWrap h2 {
    font-size: 28px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .ttl {
    font-size: 38px;
  }
  .privacyWrap h2 {
    font-size: 24px;
  }
}
