.heroBg {
  background: var(--blue);
  color: var(--lightText);
  padding: 6rem 0 5.6rem;
}
.hero {
  text-align: center;
}
.ttl {
  margin-bottom: 2rem;
  font-size: 58px;
  letter-spacing: -2px;
}
.txt {
  font-size: 18px;
  line-height: 1.7;
}

@media screen and (max-width: 1000px) {
  .ttl {
    font-size: 40px;
    letter-spacing: -1px;
  }
  .txt {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .ttl {
    font-size: 32px;
  }
  .txt {
    font-size: 14px;
    max-width: 250px;
    margin: auto;
  }
  .heroBg {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 400px) {
  .ttl {
    font-size: 28px;
    font-weight: 500;
  }
}
