.moreBg {
  background: var(--dark);
  padding: 5rem 0;
}
.more {
}
.ttl {
  text-align: center;
  color: var(--lightText);
  font-size: 48px;
  margin: auto;
  margin-bottom: 6rem;
  letter-spacing: -1px;
  max-width: 600px;
}
.featuresWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.featuresWrap > div {
  margin-bottom: 3rem;
}
.feature1 {
  background: #0d1b23;
  border-radius: 32px;
  width: 48%;
  padding: 3rem 2.5rem;
}
.feature1 .imgSec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}
.feature1 .imgSec > div {
  position: relative;
  height: fit-content;
}
.feature1 .imgSec img {
  width: 100%;
  object-fit: cover;
}
.feature1 .imgSec svg {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -20px;
  right: -20px;
}
.feature1 .imgSec > div:nth-of-type(2) {
  margin-top: 20px;
}

.feature1 .imgSec > div:nth-of-type(4),
.feature1 .imgSec > div:nth-of-type(6) {
  margin-top: -20px;
}
.featureTtl {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.featureTxt {
  color: #6b7d86;
  font-size: 19px;
  line-height: 2;
}

.feature2,
.feature4 {
  background: #0d1b23;
  border-radius: 32px;
  width: 48%;
  padding: 3rem 2.5rem;
}
.feature2 .imgSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}
.feature2 .imgSec svg {
  width: 100%;
}
.feature2 .imgSec > svg:nth-of-type(2) {
  margin-top: 30px;
}
.feature2 .imgSec > svg:nth-of-type(3) {
  margin-top: -30px;
}
.feature3 {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  background: #0d1b23;
  border-radius: 32px;
  align-items: center;
}
.feature3 svg {
  width: 50%;
}
.feature3 > div {
  width: 45%;
}
.feature4 svg,
.feature4 img {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 484px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 1000px) {
  .ttl {
    font-size: 36px;
  }
  .featureTtl {
    font-size: 24px;
    margin-bottom: 1.2rem;
  }
  .featureTxt {
    font-size: 16px;
    line-height: 1.7;
  }
  .feature1,
  .feature2,
  .feature4 {
    padding: 3rem 2rem;
  }
  .feature3 {
    padding: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .featuresWrap {
    flex-direction: column;
  }
  .feature1,
  .feature2,
  .feature3,
  .feature4 {
    width: 100%;
    padding: 3rem 2rem;
  }
  .feature3 {
    flex-direction: column;
  }
  .feature3 svg {
    width: 100%;
    margin-bottom: 2rem;
    max-width: 484px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .feature3 > div {
    width: 100%;
  }
  .feature1 .imgSec,
  .feature2 .imgSec {
    max-width: 484px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .ttl {
    font-size: 32px;
  }
  .feature1 .imgSec svg {
    width: 20px;
    bottom: -10px;
    right: -10px;
  }
  .feature1,
  .feature2,
  .feature3,
  .feature4 {
    width: 100%;
    padding: 2rem 1.5rem;
    border-radius: 20px;
  }
  .featureTtl {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  .featureTxt {
    font-size: 14px;
  }
  .feature1 .imgSec, .feature2 .imgSec {
    margin-bottom: 2rem;
  }
}
