.nebBg {
}
.neb {
  padding-top: 2rem;
}
.ttl {
  margin-bottom: 8rem;
  text-align: center;
  color: var(--lightText);
  font-size: 30px;
  font-weight: 500;
}
.ttl span {
  color: var(--blue);
}
.nebList {
  position: relative;
  max-width: 750px;
  background-image: url("../../../assets/vectors/nebEllipse.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 500px;
  background-position: top center;
  margin: auto;
}
.nebCard {
  color: #000000;
  background: #ffffff;
  border-radius: 36px;
  width: fit-content;
  padding: 10px;
  font-size: 23px;
  padding: 12px 1.8rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  position: absolute;
}
.large {
  transform: scale(1.25);
}
.small {
  font-size: 20px;
  font-weight: 600;
  padding: 11px 1.7rem;
}
.nebCard span {
  color: var(--blue);
}
.neb1 {
  top: 0;
  left: 10%;
}
.neb2 {
  top: 20px;
  right: 35%;
}
.neb3 {
  top: 0;
  right: 8%;
}
.neb4 {
  left: 0;
  top: 110px;
}
.neb5 {
  left: 35%;
  top: 150px;
}
.neb6 {
  right: 0;
  top: 110px;
}
.neb7 {
  left: 15%;
  top: 260px;
}
.neb8 {
  right: 10%;
  top: 260px;
}
.nebCard:hover {
  transform: scale(1.2);
  cursor: default;
  transition: 0.5s;
}
.large:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 800px) {
  .nebList {
    max-width: 550px;
    min-height: 400px;
  }
  .nebCard {
    font-size: 16px;
    padding: 6px 20px;
  }
  .neb4 {
    top: 80px;
  }
  .neb5 {
    top: 100px;
    left: 38%;
  }
  .neb6 {
    top: 80px;
  }
  .neb7 {
    top: 180px;
  }
  .neb8 {
    top: 200px;
  }
}

@media screen and (max-width: 550px) {
  .nebList {
    transform: scale(calc(0.8 * 100vh));
  }
  .nebCard {
    font-size: 14px;
    padding: 6px 16px;
  }
  .neb2 {
    right: 40%;
    top: 30px;
  }
  .neb5 {
    top: 130px;
  }
  .ttl {
    font-size: 26px;
    margin-bottom: 5rem;
  }
}
