.heroBg {
  background: #f6f6f6;
  position: relative;
}
.heroBg::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background: radial-gradient(
        750.74% 475.26% at 60.15% 45.23%,
        rgba(33, 168, 244, 0.11) 0%,
        rgba(91, 25, 96, 0.19) 70.83%,
        #4e9df9 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #eaddfa;
  opacity: 0.6;
  filter: blur(100px);
  position: absolute;
  bottom: 0;
  left: -100px;
}
.heroBg::after {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  background: radial-gradient(
        750.74% 475.26% at 60.15% 45.23%,
        rgba(33, 168, 244, 0.11) 0%,
        rgba(91, 25, 96, 0.19) 70.83%,
        #4e9df9 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #eaddfa;
  opacity: 0.6;
  filter: blur(120px);
  position: absolute;
  bottom: 40%;
  right: -100px;
}
.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 450px;
}
.heroTtl {
  font-size: 90px;
  max-width: 550px;
  font-weight: 700;
  letter-spacing: -4px;
  color: var(--darkText);
  line-height: 1.1;
  margin-bottom: 2rem;
}
.heroTtl span {
  color: var(--blue);
}
.heroTxt {
  color: var(--darkText);
  font-size: 20px;
  max-width: 550px;
  line-height: 1.8;
  margin-bottom: 3rem;
}
button.playBtn {
  display: flex;
  align-items: center;
  border-radius: 28px;
  padding: 14px 1.6rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.playBtn svg {
  margin-right: 12px;
}
.heroImg1 {
  position: absolute;
  bottom: -500px;
  left: 26%;
  width: 60%;
  max-width: 474px;
  z-index: 2;
  animation-name: translateImg1;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.heroImg2 {
  position: absolute;
  bottom: -360px;
  left: 44%;
  max-width: 364px;
  width: 40%;
  z-index: 2;
  animation-name: translateImg1;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes translateImg1 {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

.youtubeVid {
  background: #0d1b23;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 2rem;
  height: calc(100vh - 120px);
  z-index: 5;
  width: 100vw;
  margin: 0;
  bottom: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  flex-direction: column;
}
.youtubeVid iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
button.closeBtn {
  margin-left: auto;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid var(--lightText);
  padding: 8px 16px;
}
.show {
  animation: slideIn 1s ease-in-out;
  animation-fill-mode: forwards;
}
.hide {
  animation: slideOut 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    bottom: -120vh;
  }
  100% {
    bottom: 0;
  }
}

@keyframes slideOut {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -120vh;
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    padding-bottom: 450px;
  }
  .heroTtl {
    font-size: 60px;
    letter-spacing: -2px;
    max-width: 400px;
  }
  .heroTxt {
    font-size: 18px;
    max-width: 400px;
  }
  .heroImg1 {
    width: 40%;
    bottom: -300px;
  }
  .heroImg2 {
    width: 30%;
    bottom: -160px;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    padding-bottom: 350px;
  }
  .heroImg1 {
    bottom: -200px;
    width: 280px;
  }
  .heroImg2 {
    bottom: -100px;
    width: 200px;
  }
  .heroTtl {
    font-size: 44px;
    max-width: 280px;
  }
  .heroTxt {
    font-size: 16px;
  }
  @keyframes translateImg1 {
    0% {
      transform: translateY(-60px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-60px);
    }
  }
  .youtubeVid {
    padding: 2rem 1rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    padding-top: 5rem;
    padding-bottom: 250px;
  }
  .heroImg1 {
    bottom: -200px;
    width: 220px;
  }
  .heroImg2 {
    bottom: -100px;
    width: 160px;
  }
  .heroTtl {
    font-size: 44px;
  }
  .heroBg::before {
    width: 200px;
    height: 200px;
    filter: blur(70px);
  }
  .heroBg::after {
    width: 200px;
    height: 200px;
    filter: blur(70px);
  }
  .youtubeVid {
    max-height: 450px;
  }
  @keyframes translateImg1 {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}

@media screen and (max-width: 400px) {
  .hero {
    padding-bottom: 200px;
  }
  .heroImg1 {
    bottom: -150px;
    width: 180px;
  }
  .heroImg2 {
    bottom: -80px;
    width: 120px;
  }
}
