.toastWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  background: transparent;
  margin-top: 1rem;
}
.toast {
  max-width: 400px;
  width: 100%;
  padding: 12px 12px 12px 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  background: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  height: fit-content;
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes slideIn {
  0% {
    opacity: 0;;
  }
  100% {
    opacity: 1;
  }
}

.icon {
  min-width: 26px;
  height: auto;
  width: 26px;
}
.txtSec {
  margin-left: 1rem;
}
.txtSec h5 {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 15px;
}
.success {
  background: #1d4b33;
}

.failure {
  background: #430D0B;
}
.txtSec p {
  color: var(--lightText);
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 300;
  word-break: break-word;
}
.failure .txtSec p {
  color: #FF5F5A;
}
.success .txtSec p {
  color: #2dc573;
}