.clusterWrap {
  padding-top: 4rem;
  padding-bottom: 3.3rem;
}
.cluster {
  max-width: 600px;
  margin: auto;
}
.clusterImg {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  background: rgba(33, 168, 244, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  margin-bottom: 1rem;
}
.clusterImg img {
  width: 100%;
  object-fit: cover;
}
.name {
  text-align: center;
  color: var(--lightText);
  margin-bottom: 6px;
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}
.creator {
  text-align: center;
  color: var(--lightText);
  margin-bottom: 2rem;
}
.btnSec {
  background: rgba(118, 118, 128, 0.24);
  border-radius: 9px;
  padding: 2px;
  margin-bottom: 1.5rem;
  height: 32px;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
}
.btnSec button {
  width: 50%;
  background: transparent;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  border: none;
  height: 100%;
  color: var(--lightText);
  cursor: pointer;
}
button.active {
  background: #636366;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
}
.gallery img {
  height: 100%;
  width: 100%;
  /* aspect-ratio: 1/1; */
  border-radius: 12px;
}
.details {
  max-width: 400px;
  margin: auto;
  color: var(--lightText);
}
.label {
  color: #5f6b7c;
  font-size: 10px;
  margin-bottom: 12px;
  letter-spacing: -0.2px;
  font-weight: 500;
}
.description {
  font-size: 14px;
  margin-bottom: 2rem;
  letter-spacing: -0.1px;
  line-height: 1.6;
}
.cost {
  font-size: 22px;
  margin-bottom: 2rem;
}
.chains {
  display: flex;
  margin-bottom: 1rem;
}
.chains > svg {
  width: 22px;
  margin-right: 10px;
}
.collectibles {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 4px;
}
.collectibles span {
  height: 100%;
  display: inline-block;
  padding-top: 1rem;
}
.ethBg {
  background: #617ee9;
  padding-left: 1rem;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.solBg {
  background: linear-gradient(249.51deg, #00ffa3 -47.16%, #dc1fff 140.55%);
  padding-right: 1rem;
  text-align: right;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
@media screen and (max-width: 650px) {
  .gallery {
    gap: 1rem;
  }
  .name {
    font-size: 26px;
  }
  .creator {
    font-size: 14px;
  }
}