.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #03030380;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  background: #fff;
}
.spinner {
  max-width: 400px;
  width: 100%;
}
.show {
  display: flex;
  z-index: 1500;
}
.hide {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  0%,
  80% {
    opacity: 1;
    display: flex;
    z-index: 1500;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -10;
  }
}
